$icomoon-font-family: "ollset" !default;
$icomoon-font-path: "fonts" !default;

$icon-dollar-symbol: "\e900";
$icon-group: "\e901";
$icon-link: "\e902";
$icon-pencil: "\e903";
$icon-right-arrow-1: "\e904";
$icon-right-arrow-_1: "\e905";

